@import '~antd/dist/antd.css';

.trip-form-form {
    .edit {
        background-color: #ffc53d;
        border: none;
        &:hover {
          background-color: #ffd666;
        }
      }
      .add {
        background-color: #73d13d;
        border:none;
        &:hover {
          background-color: #95de64
        }
      }
}