@import '../../App.scss';

.login-container{
    display: flex;
    justify-content: center;
    margin-top: 8%;

    .login-page {
        align-items: center;
        background: rgb(245, 247, 248);
        border: 1px double black;
        border-radius: 20px;
        display: flex;
        flex-flow: column;
        line-height: 1.5;
        width: 40%;

        @media (max-width: 500px) {
            width: 70%;
        }

        h2 {
            font-weight: bold;
        }
    }
}